body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../assets/images/LogoCafe.jpg')no-repeat center center  fixed;
    background-size: cover;
}